.form {
  margin: 0 10px;
  position: relative;
}

.button {
  background-color: #2684FF;
  bottom: -160px;
  position: absolute;

  &:disabled {
    background-color: rgb(69, 137, 224);
    box-shadow: none;
  }
}
