@import '../../../../../scss/colors';


.app {
  text-align: center;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  color: #828282;
  height: 40vmin;
  margin-bottom: 40px;
}

.app-header {
  align-items: center;
  background-color: #282C34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.text {
  color: #FFF;
  font-size: calc(10px + 2vmin);
  margin-bottom: calc(30px + 2vmin);
}

.app-link {
  color: #61DAFB;
  font-size: calc(10px + 2vmin);
  text-decoration: underline;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.items-container {
  display: grid;
  /* max-width: var(--max-width); */
  grid-row-gap: 2rem;
  grid-template-columns: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  /* grid-column-gap: var(--gap); */
  width: calc(100% - 2rem);
}
